.product-card {
  width: 300px;
  margin: 40px auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  text-align: center;
  font-family: Arial, sans-serif;
}

.product-name {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 10px;
}

.product-price {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 8px;
}

.product-status {
  font-size: 16px;
  font-weight: 400;
}
.product-price span {
  font-weight: 700 !important;

}
.product-status span {
  font-weight: 700 !important;

}
