* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.main {
  background: linear-gradient(
    to bottom right,
    #ccffcc 0%,
    #e9f8e9 50%,
    #ffffff 100%
  );
  height: 100vh;
  display: flex;
  gap: 90px;
  flex-direction: column  ;
}
.logo {
  font-size: 29px;
  font-weight: bold;
  color: #54bd95;
}
.nav {
  
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}
.nav-items {
  display: flex;
  gap: 20px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}
.nav-items li{
  list-style: none;
}
.login-signup {
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  gap: 20px;
}
.login-signup button {
  border: 1px solid black;
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
}

.login-signup button:nth-child(1) {
  background-color: #54bd95;
  border: none;
}

.hero {
  display: flex;
  padding: 0px 20px 0px 150px;
  margin-top: 50px;
 
}
.text {
  width: 50%;
}
.pic {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content:center ;
}
.pic .img{
  height: 450px;
  width: 400px;
  border: 2px solid black;
  border-radius: 5px;
}
.heading{
  font-size: 78px;
  font-weight: bolder;
  line-height: 1;

}
.sample-text{
  padding-top: 50px;
  font-size: 18px;
  font-weight: 600;
}
.hero .buttons{
  padding-top: 50px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  gap: 20px;
}
.hero .buttons button{
  padding: 10px 15px;
  border: 1px solid black;
  border-radius: 20px;
  cursor: pointer;
}

.hero .buttons button:nth-child(1){
  background-color: #54bd95;
  border: none;
 
}

.footer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0px 70px;
  font-size: 30px;
  margin-top: 10px;
  font-weight: 600;
  color: rgb(153, 150, 150);
  cursor: pointer;
  transition: 1s ease-in;
}
.footer p:hover{
  color: #54bd95;
}
