.container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 30px;
}

.calculator {
  position: relative;
  background-color: #1c1c1c;
  height: 70%;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}
.history-icon {
  position: absolute;
  top: 0%;
  right: 5%;
  color: rgba(255, 255, 255, 0.664);
  cursor: pointer;
  font-size: 21px;
}

.display {
  width: 100%;
  display: flex;
  justify-content: center;
}

input {
  width: 260px;
  height: 70px;
  margin-bottom: 15px;
  border-radius: 10px;
  font-size: 35px;
  text-align: right;
  background: transparent;
  border: none;
  color: white;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 60px);
  grid-gap: 10px;
  justify-content: center;
}

button {
  border: none;
  height: 60px;
  width: 60px;
  outline: 0;
  font-size: 20px;
  background-color: #505050;
  border-radius: 50px;
  color: white;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

button:hover {
  background-color: #ff9500;
}

.equal {
  grid-column: span 2;
  width: 100%;
}

.white {
  background-color: #d4d4d2;
  color: black;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
}

.white:hover {
  color: #d4d4d2;
}

.yellow {
  background-color: #ff9500;
  font-size: 25px;
}

.history-container {
  background-color: #2a2a2a;
  border-radius: 15px;
  padding: 5px 15px 15px 15px;
  width: 220px;
  height: 300px;
  overflow-y: auto;
  color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  
}

.history-container h3 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: #ff9500;
  margin-bottom: 20px;
}

.history-list p {
  margin: 5px 0;
  font-size: 18px;
  border-bottom: 1px solid #3a3a3a;
  padding-bottom: 5px;
}

.history-list p span {
  color: #ff9500;
  font-weight: 600;
}

.history-container::-webkit-scrollbar {
  display: none;
}



.clear-history {
  width: 100%;
  background-color: #505050;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 8px;
  margin-top: 10px;
  cursor: pointer;
  transition: 0.2s ease;
}

.clear-history:hover {
  background-color: #ff9500;
  color: white;
}
